.row {
  margin-bottom: -4px;
  padding: 0;
  border: none;
}
.square {
  width: 20px;
  height: 20px;
  background: #555;
  display: inline-block;
  margin-right: -4px;
}
.food {
  background-color: red;
}
.snake {
  background-color: green;
}
